{% extends 'base.html' %}

{% block title %}
    Projects List
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            {% if projects|length == 0 %}<p>You are not assigned to any projects</p>{% endif %}
            {% if projects|length != 0 %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
